
*{
    margin: 0;
    padding: 0;
}


body{
    color:#FFFFFF;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #443F3F;
    color:#DAD9D9;
}


div.main-container{
    display: flex; 
    justify-content: space-between; 
}

div.left-bar{
    width: 20%;
    height: 100%;
    background-color: #443F3F;
    /* position: fixed;
    top: 0vw; */
    border-right: 3px solid #7C7979;
    border-top: 3px solid #7C7979;
}

div.right-bar{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}


div.logo-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10vh;
    /* background-color: purple; */
}

div.left-bar h1[type='logo']{
    font-size: 1.5vw;
    color: #FFFFFF;

}

div.logotext-container{
display: flex;
justify-content: center;
align-items: center;
height: 7vh;
/* background-color: #FFF186; */
}

div.logotext-container h2[type='logo-text']{
    font-size: 0.9vw;
    text-align: center;
    font-weight: normal;
    line-height: 3vh;
}


div.nav-bar{
    height: 50vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

div.nav-bar ul{
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
}

div.nav-bar ul li{
    display: flex;

}

div.nav-bar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: bold;
   
   
}

div.nav-bar ul li a[type='home']{
color:#FFF186;
}

div.nav-bar ul li a:hover{
    color:#FFF186;
}

div.web-node{
    /* background-color: red; */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

div.web-node h1,a{
    text-align: center;
    font-size: 0.8vw;
    color: #FFFFFF;
    font-weight: normal;
}

div.hamburger{
    display: none;
}



@media (max-width:600px)
{

    div.main-container{
        flex-direction: column;
    }  
    div.left-bar{
        width: 100%;
        height: 14vh;
        position: sticky;
        top: 0vw;
        
    }

    div.right-bar{
        width: 100%;
        height: 1000vh;
    }
    div.nav-bar{
        display: none;
    }
    div.web-node{
        display: none;
    }
    
    div.logo-container {
        justify-content: flex-start;
        align-items: flex-end;
        height: 6vh;
    }

    div.logotext-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 1vh;   

    }

        div.logotext-container h2[type='logo-text'] {
            text-align: left;
            line-height: 0.5vw;
            
            
        }
        div.left-bar h1[type='logo'] {
            font-size: 6.5vw;
        }

        div.logotext-container h2[type='logo-text'] {
            font-size:4vw;
            max-width: 290px;
            line-height: 5.5vw;
            font-weight: normal;
        }
        div.hamburger{
            display: block;
            font-size: 7vw;
        }
        div.galti{
        display: flex;
        justify-content: space-between;
       }

div.hamburger-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 8vh;
}

}


/* Right side is start from here */


div.img1-container{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
   
}

div.img1{
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}



@media(max-width:600px){
    div.img1{
    background-size: 100% 30%; 
    width: 100%;
}

}



div.hero1-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: #443F3F;
}

div.hero2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #443F3F;
    gap: 2vw;
}


@media(max-width:600px)
{
    div.hero2-container{
        flex-direction: column;
        gap: 15vw;
    }

    div.img1-container{
        width: 100%;
        height: 30vh;
        background-color:#443F3F;
} 

div.hero2-container div.h1 h1,div.hero2-container div.h2 h1,div.hero2-container div.h3 h1
{
    /* color: red; */
    font-size:7vw;
}

body{
    font-size: 3vw;
}


}

div.hero2-container h1{
    font-size:1.5vw;
    text-align: center;
}

div.hero2-container p{
    text-align: center;
    max-width:250px; 
}


div.hero3-container{
    width: 100%;
    height: 45vh;
    background-color: rgb(204, 161, 161);
}

div.hero3-container div.img2{
    background-image: url(img2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:45vh;
}


@media(max-width:600px){
    div.hero3-container{
        width: 100%;
        height: 25vh;
    
    }
    
    div.hero3-container div.img2{
        background-size: contain;
        width: 100%;
        height: 120vh;
    }
}

div.hero4-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    gap: 2vw;
    background-color: #443F3F;
}



div.hero4-container div.h1{
   font-size: 3vw;
   color: #F3E681;
   border-bottom:4px solid #F3E681;
}

div.hero4-container div.p1{
text-align: center;
max-width: 600px;
}

div.hero4-container div.p2{
    text-align: center;
    max-width: 778px;
    line-height: 1.5vw;
    }



    div.button button{
        background: none;
        width: 15vw;
        height: 7vh;
        border: 4px solid #FFF186;
        border-radius:2px;
        background-color:  #FFF186;
    }


    div.button button:hover{
        background-color: #ffe100;
    }

    @media (max-width:600px){
        div.hero4-container div.h1{
            font-size: 10vw;
            text-align: justify;
        }

        div.hero4-container{
            height: 80vh;
            gap: 10vw;
        }
        div.hero4-container div.p1{
            max-width:500px;
            text-align: left;
            font-size: 5vw;
        }
        div.hero4-container div.p2{
            max-width:500px;
            text-align: left;
            font-size: 5vw;
            line-height: 4.9vw;
        }
        
        div.button button{
            width:90vw;
            font-size: 5vw;
            border-radius:1.5vw;
        }
    }